<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>xwlims-注册</title>
        <link rel="icon" href="../favicon.ico">
        <link rel="stylesheet" href="../css/footer.css" />
        <link rel="stylesheet" href="../css/register.css" />
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="c_register_logo_container">
                <img class="c_register_logo" src="../img/logo.gif" />
            </div>
            <form class="form-horizontal c_form_rigister">
                <div class="c_register_title_container">
                    <p class="c_register_title">注册</p>
                </div>
                <div class="c_register_userinfo">
                    <div class="form-group">
                        <label for="id_input_username" class="col-sm-3 control-label">用户名&emsp;</label>
                        <div class="col-sm-8 col-xs-11">
                            <input id="id_input_username" class="form-control" type="text" required="true" placeholder="&nbsp用户名" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require">*</span>
                        <div>
                            <span id="id_username_error_notice" class="col-xs-12 col-sm-7 col-sm-offset-3 help-block">用户名已被使用!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_input_passwd" class="col-sm-3 control-label">密码&emsp;&emsp;</label>
                        <div class="col-sm-8 col-xs-11">
                            <input id="id_input_passwd" class="form-control" required="true" type="password" placeholder="&nbsp密码" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require">*</span>
                        <div>
                            <span id="id_passwd_error_notice" class="col-xs-12 col-sm-7 col-sm-offset-3 help-block">密码不符合要求!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_input_passwd_r" class="col-sm-3 control-label">重复密码</label>
                        <div class="col-sm-8 col-xs-11">
                            <input id="id_input_passwd_r" class="form-control" required="true" type="password" placeholder="&nbsp重复密码" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require">*</span>
                        <div>
                            <span id="id_passwd_r_error_notice" class="col-xs-12 col-sm-7 col-sm-offset-3 help-block">密码不一致!</span>
                        </div>
                    </div>
                </div>
                <hr class="c_register_hr" />

                <div class="form-group">
                    <div class="form-group-sm col-xs-12">
                        <label for="id_input_name" class="col-sm-1 col-xs-12 control-label c_control_label_small">姓名</label>
                        <div class="col-sm-4 col-xs-11">
                            <input id="id_input_name" class="form-control" required="true" type="text" placeholder="姓名" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require">*</span>
                        <label for="id_input_studentID" class="col-sm-1 col-xs-12 control-label c_control_label_small">学号</label>
                        <div class="col-sm-4 col-xs-11">
                            <input id="id_input_studentID" class="form-control" required="true" type="text" placeholder="学号" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require">*</span>
                    </div>

                    <div class="form-group-sm col-xs-12">
                        <label for="id_select_user_type" class="col-sm-1 col-xs-12 control-label c_control_label_small">人员类型</label>
                        <div class="col-sm-4 col-xs-11">
                            <select id="id_select_user_type" required="true" class="form-control">
                                <option disabled="disabled" value="1">学生</option>
                                <option value="1">&emsp;本科生</option>
                                <option value="2">&emsp;硕士研究生</option>
                                <option value="3">&emsp;博士研究生</option>
                                <option value="4">&emsp;博士后</option>
                                <option value="5">&emsp;其他</option>
                                <option disabled="disabled" value="10">教师</option>
                                <option value="10">&emsp;课题组负责人</option>
                                <option value="11">&emsp;科研助理</option>
                                <option value="12">&emsp;实验室管理员</option>
                                <option value="13">&emsp;其他</option>
                                <option disabled="disabled" value="21">其他</option>
                                <option value="21">&emsp;技术员</option>
                                <option value="22">&emsp;其他</option>
                            </select>
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require">*</span>
                        <label for="id_input_class" class="col-sm-1 col-xs-12 control-label c_control_label_small">专业班级</label>
                        <div class="col-sm-4 col-xs-11">
                            <input id="id_input_class" class="form-control" type="text" placeholder="专业班级" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require"></span>
                    </div>

                    <div class="form-group-sm col-xs-12">
                        <label for="id_input_organization" class="col-sm-1 col-xs-12 control-label c_control_label_small">组织机构</label>
                        <div class="col-sm-10 col-xs-11">
                            <input id="id_input_organization" class="form-control" type="text" placeholder="姓名" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require">*</span>
                    </div>

                    <div class="form-group-sm col-xs-12">
                        <label for="id_input_group" class="col-sm-1 col-xs-12 control-label c_control_label_small">课题组</label>
                        <div class="col-sm-10 col-xs-11">
                            <select id="id_input_group" class="form-control" required="true">
                                <option disabled="disabled" value="1">学生</option>
                                <option value="22">&emsp;其他</option>
                            </select>
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require">*</span>
                    </div>

                    <div class="form-group-sm col-xs-12">
                        <label for="id_input_email" class="col-sm-1 col-xs-12 control-label c_control_label_small">电子邮箱</label>
                        <div class="col-sm-10 col-xs-11">
                            <input id="id_input_email" class="form-control" type="email" placeholder="电子邮箱" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require"></span>
                    </div>
                    <div class="form-group-sm col-xs-12">
                        <label for="id_input_phone" class="col-sm-1 col-xs-12 control-label c_control_label_small">联系电话</label>
                        <div class="col-sm-4 col-xs-11">
                            <input id="id_input_phone" class="form-control" type="number" placeholder="联系电话" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require"></span>
                        <label for="id_input_address" class="col-sm-1 col-xs-12 control-label c_control_label_small">地址</label>
                        <div class="col-sm-4 col-xs-11">
                            <input id="id_input_address" class="form-control" type="text" placeholder="地址" />
                        </div>
                        <span class="col-sm-1 col-xs-1 c_input_require"></span>
                    </div>
                </div>

                <div class="c_register_btn_container row">
                    <button class="col-sm-offset-2 col-sm-8 btn btn-lg btn-primary c_btn_register">注册</button>
                </div>
                <div class="c_register_tologin_container">
                    <a class="c_register_text c_register_tologin" href="login.html">已有账号?去登录</a>
                </div>
            </form>
            <div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <!-- /container -->

        <footer id="id_footer">
        </footer>
        <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>

        <script type="text/javascript">
            $(function() {
                $("#id_footer").load("footer.html");
            })
        </script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/holder.min.js"></script>
        <script type="text/javascript" src="../js/lib.js"></script>
        <script type="text/javascript" src="../js/vue.min.js"></script>
    </body>

</html>